body{
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f5f7fa;
    width: 1200px;
    margin: 0 auto;
}
.main_content{
    background: #ffffff;
}

/* about style */
.about{
    
}
/* projects */
.projects{
    
}

.project_title{
    
}
/* work styles */
.work{

}
/* education style */
.education{

}

.sidebar{
    padding-top: 40px;
    background-color: #1e2939;
    width: 370px;
}
.photo{
    width: 370px;
    margin-bottom: 50px;

}
.sidebar_title{
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}
.contacts,
.tech_skills,
.soft_skills {
    margin-left: 40px;
}
.contacts{
    margin-bottom: 50px;
}

.contact_type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}
.contact_link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}
.tech_skills{
    margin-bottom: 45px;
}
.tech_skills_list,
.soft_skills_list{
    color: #ffffff;
    padding: 0;
    margin-left: 17px;
}
.tech_skills_item,
.soft_skills_item{
    color: #fb6d3a;
}
.tech_skills_text,
.soft_skills_text{
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}